<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:include="decorator :: page">
    <body>
        <div th:fragment="content">
            <div th:object="${person}">
                <p>Name: <label th:text="*{firstName}">...</label> <a href="#">Delete</a></p>
                <p>Last name: <label th:text="*{lastName}">...</label></p>
                <p>Surname: <label th:text="*{surname}">...</label></p>
                <p>Email: <label th:text="*{email}">...</label></p>
            </div>
        </div>
    </body>
</html>