<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Social Media</title>
    <script src="/jquery" th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
    <script src="../../../resources/js/sockjs-0.3.4.js" th:src="@{/resources/js/sockjs-0.3.4.js}"></script>
    <script src="../../../resources/js/stomp.js" th:src="@{/resources/js/stomp.js}"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css" href="boostrap.css" th:href="@{/resources/css/bootstrap.min.css}"/>

    <script th:src="@{/resources/js/bootstrap.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var stompClient = null;

        $(function () {
            $("#logout").on("click", function () {
                $("#logoutForm").submit();
            });

            connect();
        });

        function connect() {
            var token = $("meta[name='_csrf']").attr("content");
            var headerName = $("meta[name='_csrf_header']").attr("content");

            var headers = {};
            headers[headerName] = token;

            var socket = new SockJS('/friend');
            stompClient = Stomp.over(socket);
            stompClient.connect(headers, function (frame) {
                var link = /*[[@{/user/{email}/acceptFriend(email=${mainAccount.email})}]]*/ '';
                stompClient.subscribe(link, function (message) {
                    $("#acceptFriend").css("color", "red");
                });
            });
        }
        /*]]>*/
    </script>
</head>
<body>
<form th:action="@{/logout}" id="logoutForm" method="post"></form>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">SocialMedia</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li th:object="${mainAccount}">
                <a href="#" th:href="@{/{id}(id=*{uniqueName == null ? id : uniqueName})}">
                    <div th:text="*{firstName + ' ' + lastName}">
                        The value of the "name" property of the authentication object should appear here.
                    </div>
                </a>
            </li>
            <li>
                <a href="#" th:href="@{/settings}" th:text="#{label.settings}"></a>
            </li>
            <li>
                <button class="btn btn-default" id="acceptFriend">Accept friend</button>
            </li>
            <li>
                <button class="btn btn-default" id="logout">Logout</button>
            </li>
        </ul>
    </div>
</nav>
<div th:include="this :: content"></div>
</body>
</html>