<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body onload="document.login.email.focus();">
        <div class="container">
            <h2 th:text="#{label.title}">Title</h2>

            <form role="form" name="login" th:action="@{/j_spring_security_check}" method="post">
                <div class="form-group">
                    <label for="email" th:text="#{label.username}">Username:</label>
                    <input type="text" name="email" class="form-control" id="email"/>
                </div>
                <div>
                    <label for="pwd" th:text="#{label.password}">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd"/>
                </div>
                <div th:if="${error} ne null" class="form-group">
                    <span th:text="#{error.incorrect.password}" class="label label-danger">Incorrect password</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>
                        <span th:text="#{label.remember.me}">Remember me</span>
                    </label>
                </div>
                <input type="submit" th:value="#{button.login}" value="Login" class="btn btn-default"/>
            </form>
        </div>
    </body>
</html>